<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OAuth Example</title>
</head>
<body>
    <h1>Welcome to the OAuth Example App!</h1>
    <p>Please choose an OAuth provider to authenticate with:</p>
    <ul>
        <li><a href="/etrade-auth">E*TRADE</a></li>
        <li><a href="/tdameritrade-auth">TD Ameritrade</a></li>
    </ul>
</body>
</html>